---
import "slick-carousel/slick/slick.css";
import "slick-carousel/slick/slick-theme.css";
import Layout from "../layouts/Layout.astro";
import HeroSection from "../components/custom/HeroSection.astro";
import { getEntryBySlug, getCollection } from "astro:content";
import BrandChoice from "../components/ui/brand-choice.astro";
import ExtendedFeature from "../components/ui/ExtendedFeature.astro";
import Title from "../components/ui/common/title.astro";
import Service from "../components/ui/service.astro";
import Finance from "../components/ui/finance.astro";
import Counter from "../components/functional/common/Counter";
import Contactus from "../components/ui/contactus.astro";
import Ratings from "../components/ui/Ratings.astro";

const hero = (await getEntryBySlug("hero", "index")) as any;
const title = hero?.data?.title;
const brands = (await getEntryBySlug("brands", "index")) as any;
const titles = (await getEntryBySlug("sectionTitlesTwo", "index")) as any;
const sectionTitles = (await getEntryBySlug("sectionTitles", "index")) as any;
const extendedFeatures = await getCollection("extendedFeatures");
const servicesCollection = await getCollection("services");
const stats = await getEntryBySlug("stats", "stats");
const reviews = await getCollection("reviews");
---

<Layout title="Edify - Seus alunos falando inglês de verdade.">

  <HeroSection data={hero?.data} title={title} />
  
  <BrandChoice title={titles?.data?.brands?.title} data={brands?.data} />
  
  <ExtendedFeature
    title={titles?.data?.extendedFeature?.title}
    data={extendedFeatures}
  />
  
  <div class="section zubuz-section-padding1">
    <div class="container">
      <Title
        title={" Soluções ideais para elevar o inglês"}
        text={"O Edify oferece planos inovadores que atendem às necessidades de cada escola."}
        btn={"Marque uma conversa e <br/> conheça mais sobre o Edify"}
      />
      <Service page={"services"} services={servicesCollection} />
    </div>
  </div>

  <Finance title={titles?.data?.service?.title} />

  <div class="section zubuz-section-padding5">
    <div id="zubuz-counter"></div>
    <div class="container">
      <div class="zubuz-counter-wrap2">
        {
          stats.data.stats.map((item: any) => {
            return (
              <>
                <Counter client:load data={item} />
              </>
            );
          })
        }
      </div>
    </div>
  </div>

  <Contactus title={sectionTitles?.data?.question?.title} btn={"Calcule agora"} subtitle={"Use a nossa calculadora e descubra o seu lucro com uma de nossas soluções."} />

  <Ratings title={titles?.data?.ratings?.title} data={reviews} />

</Layout>

