---
import Layout from "../layouts/Layout.astro";
import Breadcrumb from "../components/ui/common/breadcrumb.astro";
import Title from "../components/ui/common/title.astro";
import Service from "../components/ui/service.astro";
import PricingSection from "../components/ui/PricingSection.astro";
import { getCollection, getEntryBySlug } from "astro:content";
const servicesCollection = await getCollection("services");
const prices = await getCollection("pricing");
const titles = await getEntryBySlug("sectionTitlesTwo", "index");
const review = await getEntryBySlug("clientReview",'sitemark')
---

<Layout title="Services">
  <Breadcrumb page={"Our Services"} detail={""}/>
  <div class="section zubuz-section-padding3">
    <div class="container">
      <Title
        title={"Wide range of SaaS solutions"}
        text={"Discovered our all customized services and you can double, triple, or quadruple your income & beat your competition with professional services!"}
      />
      <Service page={"services"} services={servicesCollection} />
    </div>
  </div>
  <PricingSection data={prices} title={titles?.data?.pricing?.title} />

  <div class="section zubuz-section-padding bg-light">
    <div class="container">
      <Title
        title={"Integration with dozens of tools"}
        btn={"Browse all integrations"}
      />
      <div class="zubuz-video-column">
        <div class="row">
          <div class="col-lg-6">
            <div class="zubuz-video-wrap">
              <img src={review?.data?.videoimage} alt="" />
              <a
                class="video-init zubuz-review-video"
                aria-label="play video"
                href={review?.data?.videoLink}
              >
                <img src="/assets/images/v3/play-btn.png" alt="" />
                <div class="waves wave-1"></div>
                <div class="waves wave-2"></div>
                <div class="waves wave-3"></div>
              </a>
            </div>
          </div>
          <div class="col-lg-6 d-flex align-items-center">
            <div class="zubuz-testimonial-content">
              <ul>
                {review?.data?.ratings >= 1 && <li><img src="assets/images/v3/star.png" alt="" /></li>}
                {review?.data?.ratings >= 2 && <li><img src="assets/images/v3/star.png" alt="" /></li>}
                {review?.data?.ratings >= 3 && <li><img src="assets/images/v3/star.png" alt="" /></li>}
                {review?.data?.ratings >= 4 && <li><img src="assets/images/v3/star.png" alt="" /></li>}
                {review?.data?.ratings >= 5 && <li><img src="assets/images/v3/star.png" alt="" /></li>}
              </ul>
              <p>
                {review?.data?.review}
              </p>
              <div class="zubuz-testimonial-authors-wraps">
                <div class="zubuz-testimonial-authors">
                  <p>{review?.data?.name}</p>
                  <span>{review?.data?.position} @ {review?.data?.company}</span>
                </div>
                <div class="zubuz-testimonial-author-logo">
                  <img src={review?.data?.logo} alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>
