---
const {image,title,content,type,link} = Astro.props;
let href=""
if(type==='email'){
  href=`mailto:${content}`;
}
else if(type==='phone'){
  href= `tel:${content}`;
}
else if(type==='address'){
  href= link;
}
---

<div class="col-lg-4 col-md-6">
  <a href=`${href}`>
    <div class="zubuz-iconbox-wrap-left text-center-lg rt-mb-24">
      <div class="zubuz-iconbox-icon">
        <img src={image} alt="" />
      </div>
      <div class="zubuz-iconbox-data light">
        <h3>{title}</h3>
        <p>
          {content}
        </p>
      </div>
    </div>
  </a>
</div>
